services:
  start_trading_automation:
    class: "application/cli/trading/StartTradingAutomation.command"
    tags:
      - { name: "solfege.console.command" }

  stop_trading_automation:
    class: "application/cli/trading/StopTradingAutomation.command"
    tags:
      - { name: "solfege.console.command" }

  display_trading_automation_status:
    class: "application/cli/trading/DisplayTradingAutomationStatus.command"
    tags:
      - { name: "solfege.console.command" }

  trading_automation_daemon:
    class: "application/cli/trading/Daemon.command"
    arguments:
      - "%trading.strategies%"
    tags:
      - { name: "solfege.console.command" }

  create_trade_entry:
    class: "application/cli/trading/CreateTradeEntry.command"
    tags:
      - { name: "solfege.console.command" }

  backtest_strategy_command:
    class: "application/cli/trading/BacktestStrategy.command"
    arguments:
      - "@trading_service_registry"
      - "@trading_backtest_order_resolver"
      - "@trading_backtest_order_service"
      - "@trading_backtest_position_service"
    tags:
      - { name: "solfege.console.command" }


