services:
    # Start the daemon
    app_command_daemon_start:
        class: application/command/StartDaemon
        arguments:
            - "@app_website"
            - "%website.port%"
        tags:
            - { name: "solfege.console.command" }

    # List available bots
    app_command_bot_list:
        class: application/command/ListBots
        arguments:
            - "@kryptopus_bot_query_list"
        tags:
            - { name: "solfege.console.command" }

    # Execute a bot
    app_command_bot_execute:
        class: application/command/ExecuteBot
        arguments:
            - "@kryptopus_bot_command_handler_execute"
        tags:
            - { name: "solfege.console.command" }


    # Install plugins
    app_command_plugin_install_all:
        class: application/command/InstallPlugins
        arguments:
            - "@app_configuration"
        tags:
            - { name: "solfege.console.command" }

    # Collect candles
    app_command_candles_collect:
        class: application/command/CollectCandles
        arguments:
            - "@kryptopus_chart_command_handler_collect_candles"
        tags:
            - { name: "solfege.console.command" }

    # Application configuration
    app_configuration:
        factory: ["@container", getConfiguration]
