@import "../../../node_modules/bulma/bulma";
@import "_charter.scss";
@import "component/_main-header.scss";

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: $charter-color-1;
}
