services:
  trading_strategy_registry:
    class: "%__dirname%/StrategyRegistry"

  trading_service_registry:
    class: "%__dirname%/ServiceRegistry"

  trading_position_repository:
    class: "%__dirname%/PositionRepository"
    arguments:
      - %__dirname%/../../../data/trading/positions

