imports:
  - { resource: "application/cli/trading/services.yml" }
  - { resource: "application/cli/exchange/services.yml" }
  - { resource: "domain/exchange/services.yml" }
  - { resource: "domain/technicalAnalysis/services.yml" }

services:
  wallet_balance:
    class: "application/cli/wallet/GetBalance.command"
    tags:
      - { name: "solfege.console.command" }

  wallet_from_mnemonic:
    class: "application/cli/wallet/GetInfoFromMnemonic.command"
    tags:
      - { name: "solfege.console.command" }

  mnemonic_random:
    class: "application/cli/wallet/MnemonicRandom.command"
    tags:
      - { name: "solfege.console.command" }

  mnemonic_validate:
    class: "application/cli/wallet/MnemonicValidate.command"
    tags:
      - { name: "solfege.console.command" }

  mnemonic_seed:
    class: "application/cli/wallet/MnemonicSeed.command"
    tags:
      - { name: "solfege.console.command" }

  exchange_binance_get_balances:
    class: "application/cli/exchange/binance/GetBalances.command"
    arguments:
      - "@exchange_builder"
    tags:
      - { name: "solfege.console.command" }

  exchange_binance_get_open_orders:
    class: "application/cli/exchange/binance/GetOpenOrders.command"
    arguments:
      - "@exchange_builder"
    tags:
      - { name: "solfege.console.command" }

  exchange_kucoin_get_balances:
    class: "application/cli/exchange/kucoin/GetBalances.command"
    arguments:
      - "@exchange_builder"
    tags:
      - { name: "solfege.console.command" }

  portfolio_get_balances:
    class: "application/cli/portfolio/GetBalances.command"
    arguments:
      - "@exchange_builder"
    tags:
      - { name: "solfege.console.command" }

  portfolio_estimate_total_amount:
    class: "application/cli/portfolio/EstimateTotalAmount.command"
    arguments:
      - "@cryptocompare"
      - "@exchange_builder"
    tags:
      - { name: "solfege.console.command" }

  aggregator_cryptocompare_get_asset_price:
    class: "application/cli/aggregator/cryptocompare/GetAssetPrice.command"
    arguments:
      - "%aggregators.cryptocompare.apiKey%"
    tags:
      - { name: "solfege.console.command" }

  cryptocompare:
    class: "domain/aggregator/Cryptocompare"
    arguments:
      - "%aggregators.cryptocompare.apiKey%"

  wallet_registry:
    class: "domain/wallet/Registry"
    arguments:
      - "%wallets%"
